.container{
    overflow-x: hidden;
}

.login {
    padding: 12rem 0 10rem;
    background-image: url("imgs/login-bkg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.login-dark {
    background-image: url("imgs/login-bkg-dark.png");
    background-color: rgb(30, 20, 8);
}

.molecule_img{
    position: absolute;
    right: 0rem;
    top: 20vh;
    background-image: url("imgs/molecule.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50vw;
    height: 78vh;
    opacity: 0.7;
}

.molecule_img__dark {
    display: none;
}

@media (max-width: 1100px){
    .molecule_img{
        display: none;
    }
}

@media (max-width: 800px) {
    .login {
        height: 140vh;
    }
}