.login {
    padding: 12rem 0 10rem;
    background-image: url("imgs/login-bkg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

@media (max-width: 800px) {
    .login {
        height: 140vh;
    }
}