.sponsor {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.sponsor-heading {
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 2.4rem;
}
.sponsor-heading-dark {
    color: white;
}

.sponsor-logo {
    width: 15rem;
    background: transparent;
}

.sponsor-group {
    display: flex;
    justify-content: center;
    gap: 8rem;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5rem;
}

.btn-sponsor {
    color: white;
    background-color: purple;
    width: 20rem;
    padding: 1.5rem 2rem;
    margin: 5rem auto;
    border: 1px solid purple;
    border-radius: .5rem;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-shadow: 0 .3rem .8rem rgba(0, 0, 0, 0.24);
}
.btn-sponsor-dark
{
    color:black;
    background-color: #EA971A;
    border: 1px solid #EA971A;

    
}
