.combined_bkg{
    background-image: url('imgs//about_spons_combine_bkg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.combined_bkg-dark{
    background-image: url('imgs/about_spons_combine_bkg-dark.png');
    background-color: #1e1408;
}