.team__container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background-image: url("imgs/team-bkg.png");
    background-size: cover;
    padding: 10rem 0;
    font-family: "Montserrat";
    font-weight: 700;
}

.team__heading {
    font-size: 2.4rem;
    margin: 5rem auto;
    text-align: center;
}

.team__members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    list-style: none;
}