@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:wght@100&display=swap");

.container {
  overflow-x: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin: 3rem 0;
}

#parent {
  display: flex;
  position: relative;
  width: 40%;
  align-content: center;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 60%;
  padding-right: 5vw;
  color: #4B4949;
}

.content > h2 {
  
  margin-top: 2rem;
  margin-left: 2rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 2.125rem;
  line-height: 2.763;
  padding: 0 1rem;
  padding-left: 0;
  text-align: left;
}
.content-dark > h2
{
  color: white;
}

.content > p {
  width: 100%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0 2rem;
  color: grey;
  text-align: left;
  opacity: 0.8;
}

.content-dark > p
{
  color: white;
}

.landing-about_btn {
  font-family: "Montserrat";
  align-items: left;
  margin-top: 1.8rem;
  margin-left: 2rem;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: left;
  background-color: #1a54ea;
  border: none;
  color: white;
  padding: 1.5rem 2rem;
  font-size: 16px;
  border-radius: 0.5rem;
  border: 1px solid royalblue;
  width: 20rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;
}

.landing-about_btn-dark
{
  background-color: #EA971A;
}

@media (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .content {
        width: 100%;
    }
}
