.event {
    display: flex;
    gap: 10rem;
    padding: 5rem;
    padding-top: 12rem;
    margin-bottom: -4rem;
}

.bkg-0 {
    background: url("imgs/event-bkg.png"), linear-gradient(162.44deg, #d842f0cc 0%, #7a31d7cc 100%);
}

.bkg-1 {
    background: url("imgs/event-bkg.png"), linear-gradient(162.44deg, #f04242cc 0%, #d79531cc 100%);
}

.bkg-2 {
    background: url("imgs/event-bkg.png"), linear-gradient(162.44deg, #42f053cc 0%, #31cdd7cc 100%);
}

.bkg-3 {
    background: url("imgs/event-bkg.png"), linear-gradient(162.44deg, #4542f0cc 0%, #31d79bcc 100%);
}

.bkg-4 {
    background: url("imgs/event-bkg.png"), linear-gradient(162.44deg, #21ffd7cc 0%, #c728ffcc 100%);
}

.event__dark {
    margin-bottom: 0;
}

.event-img__container {
    width: 35%;
    display: flex;
    align-items: center;
}

.event-img {
    width: 95%;
    margin-left: -5rem;
}

.event-content {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.event-title {
    font-family: "Raleway";
    font-weight: 800;
    text-transform: uppercase;
    font-size: 6rem;
    align-self: center;
}

.title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.desc {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.event-btn__group {
    display: flex;
    justify-content: center;
    gap: 20rem;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 2.4rem;
}

.event-btn, .event-btn:link {
    color: #000;
    margin-top: 2.5rem;
    padding: 1rem 4rem;
    background-color: #ffffffaa;
    border-radius: 10rem;
    text-decoration: none;
    transition: all .2s;
}

.event-btn:hover {
    background-color: #fff;
}

@media (max-width: 600px) {
    .event {
        flex-direction: column;
    }

    .event-content {
        width: 100%;
    }

    .event-img__container {
        width: 100%;
        justify-content: start;
    }

    .event-btn__group {
        flex-direction: column;
        gap: 0;
    }

    .event-btn {
        width: 100%;
        text-align: center;
    }
}
