.event__container {
    width: 100%;
}

.event {
    display: flex;
    gap: 10rem;
    padding: 5rem;
    padding-top: 12rem;
    margin-bottom: -4rem;
}

.event__dark {
    background-color: rgba(0, 0, 0, .2);
}

.block {
    padding: 2rem;
    background-color: rgba(255, 255, 255, .5);
    
    box-shadow: var(--shadow-light);
    cursor: pointer;
}

.block__dark {
    padding: 2rem;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    cursor: pointer;
}

.block__dark:hover {
    background-color: #000;
}

.block:hover {
    background-color: #fff;
}

.bkg-0 {
    background: url("imgs/event-bkg.png"), linear-gradient(162.44deg, #F0424Ccc 0%, #7a31d7cc 100%);
}

.bkg-1 {
    background: url("imgs/event-bkg.png"), linear-gradient(162.44deg, #4542F0cc 0%, #31D79Bcc 100%);
}

.bkg-2 {
    background: url("imgs/event-bkg.png"), linear-gradient(162.44deg, #954545cc 0%, #D79531cc 100%);
}

.bkg-3 {
    background: url("imgs/event-bkg.png"), linear-gradient(162.44deg, #21FFD7cc 0%, #C728FFcc 100%);
}

.bkg-4 {
    background: url("imgs/event-bkg.png"), linear-gradient(162.44deg, #D842F0cc 0%, #7A31D7cc 100%);
}

.bkg-5 {
    background: url("imgs/event-bkg.png"), linear-gradient(162.44deg, #42F053cc 0%, #31CDD7cc 100%);
}

.event__dark {
    margin-bottom: 0;
}

.event-img__container {
    width: 35%;
    display: flex;
    align-items: center;
}

.event-img {
    width: 95%;
    margin-left: -5rem;
}

.event-content {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.event-title {
    font-family: "Raleway";
    font-weight: 800;
    text-transform: uppercase;
    font-size: 6rem;
    align-self: center;
}

.title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.desc {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.event-btn__group {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 20rem;
}

/* .event-btn, .event-btn:link {
    color: #000;
    margin-top: 2.5rem;
    padding: 1rem 4rem;
    background-color: #ffffffaa;
    border-radius: 10rem;
    text-decoration: none;
    transition: all .2s;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 2.4rem;
    border: none;
}

.event-btn:hover {
    background-color: #fff;
} */

.register-btn {
    border: 2px solid black;
    padding: .5rem 3rem;
    border-radius: .5rem;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 2.4rem;
    background-color: transparent;
    transition: all .2s;
    box-shadow: var(--shadow-light);
    cursor: pointer;
}

.register-btn:hover {
    background-color: black;
    color: white;
}

.details-btn {
    border: 2px solid black;
    padding: .5rem 3rem;
    border-radius: .5rem;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 2.4rem;
    background-color: black;
    color: white;
    transition: all .2s;
    text-decoration: none;
    box-shadow: var(--shadow-light);
    text-align: center;
    cursor: pointer;
}

.details-btn:hover {
    background-color: transparent;
    color: black;
}

@media (max-width: 600px) {
    .event {
        flex-direction: column;
    }

    .event-content {
        width: 100%;
    }

    .event-img__container {
        width: 100%;
        justify-content: start;
    }

    .event-btn__group {
        flex-direction: column;
        gap: 2rem;
    }

    .event-btn {
        width: 100%;
        text-align: center;
    }
}
