
.container {
    background-image: url("./imgs/bkg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 8rem;
}

.container_dark {
    background-image: url("./imgs/bkg-dark.png");
    background-color: rgb(30, 20, 8);
}   

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(240,240,240,0.7);
    padding: 3rem 0 8rem;
}

.heading{
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 2rem;
    line-height: 3.1rem;
    text-align: center;
    margin: 0 0 6rem 0;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card{
    width: 19%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 2rem;
    
    margin-right: 5rem;
    padding-bottom: 3rem;
}

.details{
    width: 40%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5%;
    padding: 2rem 2rem 3rem;
    margin-left: 5rem;
}

.card_img{
    width: 60%;
    border: 1rem solid aqua;
    border-radius: 100%;
    margin: 3.5rem 0 0;
}

.card_name{
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 5rem;
    text-align: center;
    margin:1rem;
    color: #000000;
}

.card_place{
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 3.7rem;
    text-align: center;
    margin:1rem 0 2rem;
    color: #000000;
}

.details > div{
    display: flex;
    width: 95%;
    border-bottom: 0.2rem solid #986F04;
}

.details_category{
    align-self: center;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 3.7rem;
    margin: 2rem 0 0.2rem;
    width: 40%;
}

.details_value{
    align-self: center;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3.1rem;
    text-align: center; 
    width: 60%;
    color: #8C92A2;
    margin: 2rem 0 0.2rem;
}

.events_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

/* .metal_bar{
    background-image: url("./imgs/metalBars.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20vw;
    height: 30vw;
    align-self: flex-end;
    justify-self: flex-end;
}

.smelting_img{
    background-image: url("./imgs/smelting.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25%;
    height: 80vh;
    align-self: flex-start;
    justify-self: flex-end;
} */

.reg_events{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    background-color: rgba(240,240,240,0.7);
    border-radius: 2rem;
    margin: 5rem 0;
    padding-bottom: 4rem;
}

.events_heading{
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 2.1rem;
    line-height: 3.5rem;
    text-align: center;
    margin: 3rem 3rem 10rem 3rem;
    color: #000000;
}

.events_heading_dark{
    color: rgb(30, 20, 8);
    font-weight: bolder;
}

.event_button{
    display: flex;
    align-self: center;
    width: 85%;
    background-color: white;
    color: #000000;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 3.1rem;
    margin: 1.5rem 0;
    border-radius: 5rem;
}

.event_name{
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: #050505;
    margin: 1.5rem 5rem 1.5rem 5rem;
    width: 50%;
}

.event_link{
    align-self: center;
    width: 50%;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.3rem;
    text-align: center;
    margin: 1.5rem 2rem;
    color: #706A6A;
    text-decoration: none;
}

.event_button:hover{
    border: 0.2rem solid #986F04;
    transition: 0.15s;
}

.text_dark{
    color: rgb(255, 255, 255);
}

.bkg_dark{
    background-color: rgb(30, 20, 8);
}

.content_dark{
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 950px){

    .info{
        flex-direction: column;
    }

    .card{
        width: 40%;
        height: 50%;
        margin: 2rem 0;
    }

    .details{
        width: 70%;
        height: 80%;
        margin: 2rem 0;
    }

    .details_value{
        justify-content: flex-start;
    }

    .reg_events{
        width: 80%;
    }

    .event_name{
        margin: 1.5rem 2rem;
        align-self: center;
    }
}

@media (max-width:500px){
    
    .details > div{
        flex-direction: column;
    }

    .details_category{
        width: 100%;
        text-align: center;
    }

    .details_value{
        width: 100%;
    }
}