.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.7rem;
}

.primary-header {
    display: flex;
    background-color: #ddd;
    backdrop-filter: blur(.2rem);
    justify-content: space-around;
    align-items: stretch;
}

.primary-header__dark {
    background-color: #222;
}

.logo-container {
    padding: 0.7rem;
}

.logo-img {
    width: 6rem;
}

.primary-navigation {
    display: flex;
    align-items: center;
}

.primary-navigation__list {
    display: flex;
    list-style-type: none;
    gap: 0.3rem;
}

.nav-btn__group {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-btn {
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-decoration: none;
    padding: .6rem 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0 .3rem .8rem;
    transition: all .1s;
}

.nav-btn:active {
    transform: translateY(.3rem) scale(.98);
}

.nav-btn__login {
    background-color: var(--color-primary);
    color: black;
    border: 2px solid var(--color-primary);
}

.nav-btn__login:hover {
    background-color: white;
    color: black;
    border: 2px solid var(--color-primary);
}

.nav-btn__register {
    background-color: white;
    color: black;
    border: 2px solid var(--color-primary);
}

.nav-btn__register__dark {
    background-color: #222;
    color: #ddd;
}

.nav-btn__register:hover {
    background-color: var(--color-primary);
    color: black;
    border: 2px solid var(--color-primary);   
}

.primary-navigation__link {
    display: flex;
    align-items: center;
    padding: .6rem;
    transition: all 0.2s;
    border-bottom: .6rem solid transparent;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all .4s;
}

.primary-navigation__link__dark {
    color: #ddd;
}

.primary-navigation__link:last-child {
    margin-right: 2rem;
}

.primary-navigation__link:hover {
    border-bottom: .6rem solid var(--color-primary);
}

.nav-toggle {
    display: none;
    background-color: transparent;
    color: white;
    border: none;
    margin-right: 1.2rem;
}

.nav-toggle__dark {
    color: #000;
}

.dark-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 2rem;
    border-radius: 10rem;
    background-color: transparent;
    border: 4px solid #000;
    transition: all .3s;
    cursor: pointer;
}

.dark-icon:hover {
    border: 7px solid purple;
}

.dark-icon__dark {
    border: 4px solid #fff;
}

@media (max-width: 800px) {
    .nav-toggle {
        display: block;
        margin-right: 2rem;
    }

    .primary-navigation {
        display: none;
    }

    .nav-btn__group {
        display: none;
    }

    .primary-header {
        gap: 20rem;
    }

    .secondary-header {
        display: flex !important;
        flex-direction: column;
        justify-content: start;
        background-color: #444444d9;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        transform: translateX(100%);
        transition: all ease 0.3s;
    }

    .secondary-header.active {
        transform: translateX(50%);
    }

    .dark-icon{
        margin: 1rem 1rem;
    }
}

.hamburger__bar {
    fill: black;
}

.hamburger__bar__dark {
    fill: #ddd;
}

.close__fragment {
    stroke: black;
    stroke-width: 0.5rem;
}

.secondary-header {
    display: none;
}

.secondary-navigation__list {
    margin-top: 2rem;
    list-style: none;
}

.secondary-navigation__link {
    display: block;
    padding: 1rem;
    color: #ddd;
    text-decoration: none;
    cursor: pointer;
}

.secondary-navigation__link:hover {
    background-color: var(--color-primary);
}
