.form__title {
    margin: 0 auto;
    margin-bottom: 4rem;
    display: flex;
    padding: 1rem 2rem;
    justify-content: flex-start;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.form {
    width: 75%;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 2rem;
    padding: 1rem 2rem;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 700;
}

.form__btn-group {
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;
}

.form__btn {
    width: max(40%, 35rem);
    height: 6rem;
    font-family: "Nunito Sans";
    font-weight: 600;
    font-size: 2.4rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--color-primary);
    color: black;
    transition: all 0.2s;
    cursor: pointer;
}

.form__btn:hover,
.form__btn:active {
    background-color: rgb(234,151,26);
    /* color: purple; */
}

.input {
    width: 100%;
    margin: 2rem auto;
    padding: 1rem 2rem;
    font-size: 2rem;
    text-align: left;
}

.input__label {
    width: max(40%, 35rem);
    display: block;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: left;
    pointer-events: none;
}

.input__field {
    width: max(40%, 35rem);
    padding: 1.5rem;
    font-size: 1.8rem;
    color: grey;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, .2);
    border: 2px solid #ccc;
    outline: none;
}

.input__field:focus {
    border-bottom: .4rem solid var(--color-primary-light);
}

.input__error {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.1);
}

.input__error:focus {
    border: 2px solid rgb(240, 210, 12);
    background-color: rgba(255, 255, 0, 0.1);
}

.input__message {
    width: 100%;
    margin: 0 auto;
    font-size: 1.6rem;
    margin-top: 1rem;
    text-align: left;
    color: rgba(255, 0, 0, 0.8);
}

.select__field {
    width: max(40%, 35rem);
    padding: 1.5rem;
    font-size: 1.8rem;
    color: grey;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, .2);
}

.select__option {
    font-size: 2rem;
    padding: 1rem 2rem;
}

.select__option:hover {
    background-color: var(--color-primary);
}
