.form {
    width: 75%;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 2rem;
    padding: 1rem 2rem;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 700;
}

.form__title {
    margin-bottom: 4rem;
    display: flex;
    justify-content: left;
    white-space: nowrap;
    padding: 1rem 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: left;
    color: rgb(0, 0, 0);
}
.form__title-dark
{
    color: white;
}

.form__btn-group {
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;
}

.form__btn {
    width: max(40%, 25rem);
    height: 6rem;
    font-family: "Nunito Sans";
    font-weight: 600;
    font-size: 2.4rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--color-primary);
    color: black;
    transition: all 0.2s;
    cursor: pointer;
}

.form__btn:hover,
.form__btn:active {
    background-color: rgb(234,151,26);
}

.input {
    width: 100%;
    margin: 2rem auto;
    padding: 1rem 2rem;
    font-size: 2rem;
    text-align: left;
    color: rgb(0, 0, 0);
}
.input-dark
{
    color: white;
}

.input__label {
    width: max(40%, 25rem);
    display: block;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: left;
    pointer-events: none;
}

.input__field {
    width: max(40%, 25rem);
    padding: 1.5rem;
    font-size: 1.8rem;
    color: grey;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, .2);
    border: 2px solid #ccc;
    outline: none;
}

.input__field__dark {
    color: #fff;
}

.option__dark {
    color: #000;
}

.input__field:focus {
    border-bottom: .4rem solid var(--color-primary-light);
}

.input__error {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.1);
}

.input__error:focus {
    border: 2px solid rgb(240, 210, 12);
    background-color: rgba(255, 255, 0, 0.1);
}

.input__message {
    width: 100%;
    margin: 0 auto;
    font-size: 1.6rem;
    margin-top: 1rem;
    text-align: left;
    color: rgba(255, 0, 0, 0.8);
}

.select__field {
    width: max(40%, 25rem);
    padding: 1.5rem;
    font-size: 1.8rem;
    color: grey;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, .2);
}

.select__option {
    font-size: 2rem;
    padding: 1rem 2rem;
}

.select__option:hover {
    background-color: var(--color-primary);
}

.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: rgb(30, 20, 8);
    border-radius: .5rem;
}

.message-title {
    font-family: "Poppins";
    font-size: 3rem;
    font-weight: 600;
    color: #ddd;
    justify-self: flex-start;
    margin-top: 3rem;
}

.message-content {
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 400;
    color: #ddd;
    margin-top: 4rem;
    width: 60%;
    text-align: center;
}

.message-btn {
    font-family: "Poppins";
    font-weight: 600;
    padding: .5rem 1rem;
    font-size: 2.4rem;
    background-color: #ffffffaa;
    border: 1px solid #fff;
    border-radius: 10rem;
    position: absolute;
    bottom: 5rem;
    transition: all .2s;
    cursor: pointer;
}

.message-btn:hover {
    background-color: #fff;
}

@media (max-width: 450px) {
    .form {
        margin-left: -1rem;
    }
}
